.header {
    width: 100%;
    height: 10%;
    background-color: blue;
}

.logo {
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: orange;
    float: left;
}

.menu {
    width: 70%;
    height: 100%;
    background-color: red;
    float: right;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    border: 10px solid black;
}